body {
    font-family: 'inter', sans-serif;
    background: #e3aef0;
    text-align: center;
    padding-top: 150px;
}

h1 {
    color: #2C2C2C;
    margin-bottom: 30px;
}

button {
    padding: 14px 28px;
    background: #fafafa;
    border: 1px solid #e634fd;
    border-radius: 10px;
    color: hsl(0, 0%, 0%);
    font-size: 16px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 8px rgba(255, 105, 180, 0.6))
            drop-shadow(0px 0px 12px rgba(255, 0, 128, 0.4));
    transition:  0.3s ease, transform 0.2s ease, filter 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
}
    
.nav-bar {
    width: 100%;
    padding: 5px 28px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    /* glass effect */
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

/* Divara Logo Styling */
.nav-logo {
    width: 160px;
    height: auto;
    cursor: pointer;

    /* neon pink glow from your image */
    filter: drop-shadow(0px 0px 8px rgba(255, 105, 180, 0.6))
            drop-shadow(0px 0px 12px rgba(255, 0, 128, 0.4));

    /* smoothness */
    transition: transform 0.25s ease, filter 0.25s ease;
}

/* Hover effect to look premium */
.nav-logo:hover {
    transform: scale(1.04);
    filter: drop-shadow(0px 0px 10px rgba(255, 105, 180, 0.9))
            drop-shadow(0px 0px 14px rgba(255, 0, 128, 0.6));
}










button:hover {
    background: #fff;
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 10px rgba(255, 105, 180, 0.9))
            drop-shadow(0px 0px 14px rgba(255, 0, 128, 0.6));
}

button:active {
    transform: scale(0.98);
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #2C2C2C;
    font-size: 14px;
}

button:disabled {
    background: #ddd;
    border-color: #bbb;
    color: #888;
    cursor: not-allowed;
    filter: none;
    transform: none;
}


button:disabled:hover {
    background: #ddd;
    border-color: #bbb;
    color: #888;
    cursor: not-allowed;
    filter: none;
    transform: none;
}

